.<template>
  <svg xmlns="http://www.w3.org/2000/svg" :preserveAspectRation="aspRatio" viewBox="0 0 411 489">
    <defs>
      <style>
        .cls-1 {
          fill: {{ bgColor }},
          position: relative,
        },
      </style>
    </defs>
    <path class="cls-1" d="M22.89,40.3H387.56a62.16,62.16,0,0,1,62.16,62.16V388.37a62.16,62.16,0,0,1-62.16,62.16H22.89A62.12,62.12,0,0,1-39.23,388.4v-286A62.12,62.12,0,0,1,22.89,40.3Z" transform="translate(450.65 40.17) rotate(90)"/>
  </svg>
  <slot class="absolute"></slot>
</template>

<script>
import { reactive, toRefs } from '@vue/composition-api'

export default {
  props: {
    bgColor,
    aspRatio
  },
  setup () {
    const state = reactive({
      count: 0,
    })
  
    return {
      ...toRefs(state),
    }
  }
}
</script>